version: 2
updates:
  - package-ecosystem: "yarn"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore(deps)"
    # Keep security updates trusted and frequent
    allow:
      - dependency-type: "all"
